.employee_profile{
    border: 1px solid black;
    inline-size: min-content;
    padding: 6px 6px;
}



.flex-container{
    display: flex;
    flex-wrap: wrap;
}

.flex-container > div{
    padding: 5px 10px;
    margin: auto 5px;
}

h3{
    text-align: center;
}


.crown{
    text-align: right;
}

.featured{
    width: 20px;
    height: 20px;
}

.avatar{
    border-radius:50%;
    width: 150px;
    height: 150px;
    margin: 10px 40px;
}